header{
    position:relative;
<<<<<<< HEAD
    width: 100%;
=======
    max-width: 2540px;
>>>>>>> 264094979240c7ea60e2ad13fb2b4e8f8c11f7d1
    box-sizing: border-box;
}

.containerImgCapa{
    height: 350px;
}

.imgCapa{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}

.barraHeader{
    background:#fff;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom:1px solid rgba(0,0,0,0.05);
    box-shadow: 0px 0 1px 1px rgba(0,0,0,0.25);
}

.listaMenu{
    display:flex;
    justify-content: center;
    list-style: none;
    height:100%;
}

.itemMenuHeader{
    margin-left:20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
}

#btn-mais{
    display:none;
}
#btn-mais > span{
    color: #E81C4F;
    font-weight: bold;
    font-size: 20px;
    margin-top: -2px;
    color:#657786;
    display:block;
}
#btn-mais .visibility-hidden{
    visibility: hidden;
}
#btn-mais:hover span{
    cursor:pointer;
    color: #E81C4F;
}
.itemMenuHeader:hover > a > .contador{
    border-bottom: 2px solid #E81C4F;
    transition: all .15s ease-in-out;
    color: #E81C4F; 
}

.itemMenuHeader > a{
    text-decoration: none;
    color: #657786;
}

.itemMenuHeader > a > span{
    display:block;
    text-align: center;
}

#modal-mais{
    background-color: #fff;
    position:absolute;
    margin-top: 10px; 
    z-index: 900; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    display:none;
    flex-direction: column;
    padding: 10px 0px;
}
#modal-mais > div > p{
    padding: 10px 20px;
}
#modal-mais div:hover{
    background:#E81C4F;
    color: #fff;
    cursor:pointer;
}

.fotoPerfil{
    border-radius:50%;
    position: absolute;
    left:90px;
    bottom: -55px;
    height: 200px;
    width:200px;
    border:5px solid white;
    z-index: 999;
}

.fotoPerfil:hover{
    cursor:pointer;
}

.btnEditarPerfil{
    display: flex;
    align-items: center;
    border:1px solid #66757F;
    text-decoration: none;
    color: #66757F;
    font-weight: 600;
    border-radius: 50px;
    padding: 0px 15px;
    height:32px;
    background: #fff;
    
}

.btnEditarPerfil:hover{
    background:#F5F8FA;
}

.menuHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 200px;
    padding: 0px 80px 0px 150px;
}

.contador{
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 5px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 13px;
 
  /* Position the tooltip text - see examples below! */
}

.tooltip .tooltip-position-menu-header{
    position: absolute;
    bottom: 160px;
    left: 130px;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    transition: opacity 0.7s linear;
    opacity: 1;
}